package html

templ header() {
	<header class="flex p-6">
		@logo()
	</header>
}

templ footer() {
	<footer class="my-12 text-sm">
		<div class="max-w-7xl mx-auto px-6">
			<div>Made with ❤️ by <a href="https://x.com/heyjorgedev" class="text-blue-600 hover:underline">Jorge</a></div>
			<div>Source code available on <a href="https://github.com/heyjorgedev/suss" class="text-blue-600 hover:underline">GitHub</a></div>
		</div>
	</footer>
}
